body {
  font-family: monospace, arial, serif;
}

h1 {
  color: blueviolet;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0px;
}

h2,
h3 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 1px;
  margin-top: 1px;
}

 .btn {
  background: blueviolet;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 40px;
  width: 70px;
}
.btn:hover {
  background: whitesmoke;
  border-color: blueviolet;
}

.container {
  border: 2mm ridge blueviolet;
  border-radius: 8px;
  padding: 5px;
  max-inline-size: 600px;
  background-color: rgb(233, 194, 233);
}

#searchForm {
  font-size: 20px;
  margin-block-start: 10px;
  margin-inline-end: 0px;
  padding: 5px 30px 10px;
  size: 20px;
}

#searchForm:hover {
  font-size: 13px;
  padding: 7px 15px;
}

.overview {
  text-align: center;
}

#icon {
  width: 150px;
  height: 120px;
  padding-right: 10px;
  margin-left: 220px;
  align-items: center;
}

#temperature {
  font-size: 72px;
  margin-left: 80px;
  color: blueviolet;
}

.units {
  margin-top: -34px;
  color: blueviolet;

}
.unitt {
  top: -45px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
  cursor: default;
  position: relative;
}

#description {
  font-size: 25px;
  font-weight: bold;
  color: blueviolet; 
  text-align: right;
  margin-top: 0px;
  margin-right: -60px;
  margin-left: 15px;
  font-style: italic;
}

#tempy {
  display: flex;
  justify-content: space-between;
  max-width: 150%;
  margin-right: -100px;
  margin-left: 50px;
  padding-left: 30px;
}


#tempyIcon,
#windIcon,
#humyIcon {
margin-left: 30px;
justify-content: center;
position: absolute;
padding-left: 40px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  font-size: 18px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weatherForecast {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;  
  border-color: blueviolet;
  border-color: 5px;
  margin-left: 60px;

}


.weatherIcon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: cornsilk;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}


.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
